<div class="mt-2">
  <p>
    <strong>Posted by:</strong>
    <%= @book_post.user.username %>
  </p>
  <h1 class="font-bold text-2xl py-2"><%= @book_post.title %></h1>
  <div class="inline-block">
    <h2 class="font-bold">Auteur: <p class="font-normal"><%= @book_post.author %></p></h2>
    <h2 class="font-bold">Genre: <p class="font-normal"><%= @book_post.genre %></p></h2>
    <h2 class="font-bold">ISBN: <p class="font-normal"><%= @book_post.isbn %></p></h2>
  </div>
  <p class="mt-4 border-4 border-gray-400">
    <% if @book_post.user == current_user || current_user.admin? %>
    <%= link_to 'Edit', edit_book_post_path(@book_post) %>
  <% end %>
  </p>
</div>